USE [master]
GO
/****** Object:  Database [THI_TRAC_NGHIEM]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE DATABASE [THI_TRAC_NGHIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THI_TRAC_NGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\THI_TRAC_NGHIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THI_TRAC_NGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\THI_TRAC_NGHIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THI_TRAC_NGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THI_TRAC_NGHIEM]
GO
/****** Object:  User [U_sv]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE USER [U_sv] FOR LOGIN [sv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U_pgv1]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE USER [U_pgv1] FOR LOGIN [pgv1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U_gv2]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE USER [U_gv2] FOR LOGIN [gv2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [U_gv1]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE USER [U_gv1] FOR LOGIN [gv1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Sinhvien]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE ROLE [Sinhvien]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [Giangvien]    Script Date: 6/19/2026 5:41:36 PM ******/
CREATE ROLE [Giangvien]
GO
ALTER ROLE [Sinhvien] ADD MEMBER [U_sv]
GO
ALTER ROLE [PGV] ADD MEMBER [U_pgv1]
GO
ALTER ROLE [Giangvien] ADD MEMBER [U_gv2]
GO
ALTER ROLE [Giangvien] ADD MEMBER [U_gv1]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_1_LaPGV]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_1_LaPGV]
(
    @LOGINNAME NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
    DECLARE @KQ BIT = 0;

    IF EXISTS (
        SELECT 1
        FROM dbo.TaiKhoan
        WHERE LOGINNAME = @LOGINNAME
          AND ROLE_NAME = N'PGV'
          AND IS_ACTIVE = 1
    )
        SET @KQ = 1;

    RETURN @KQ;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_1_MatKhauDung]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   3. FUNCTION
   ========================================================= */

CREATE FUNCTION [dbo].[fn_4_1_MatKhauDung]
(
    @LOGINNAME NVARCHAR(50),
    @MATKHAU NVARCHAR(255)
)
RETURNS BIT
AS
BEGIN
    DECLARE @KQ BIT = 0;

    IF EXISTS (
        SELECT 1
        FROM dbo.TaiKhoan
        WHERE LOGINNAME = @LOGINNAME
          AND MATKHAU = @MATKHAU
          AND IS_ACTIVE = 1
    )
        SET @KQ = 1;

    RETURN @KQ;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_2_MonHocCoPhatSinh]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_2_MonHocCoPhatSinh]
(
    @MAMH NCHAR(5)
)
RETURNS BIT
AS
BEGIN
    DECLARE @KQ BIT = 0;

    IF EXISTS (SELECT 1 FROM dbo.BoDe WHERE MAMH = @MAMH)
       OR EXISTS (SELECT 1 FROM dbo.GiaoVien_DangKy WHERE MAMH = @MAMH)
       OR EXISTS (SELECT 1 FROM dbo.BangDiem WHERE MAMH = @MAMH)
        SET @KQ = 1;

    RETURN @KQ;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_3_DemSinhVienTheoLop]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_3_DemSinhVienTheoLop]
(
    @MALOP NCHAR(15)
)
RETURNS INT
AS
BEGIN
    DECLARE @SL INT;

    SELECT @SL = COUNT(*)
    FROM dbo.SinhVien
    WHERE MALOP = @MALOP;

    RETURN ISNULL(@SL, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_4_DemCauHoiCuaGV]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_4_DemCauHoiCuaGV]
(
    @MAGV NCHAR(8)
)
RETURNS INT
AS
BEGIN
    DECLARE @SL INT;

    SELECT @SL = COUNT(*)
    FROM dbo.BoDe
    WHERE MAGV = @MAGV;

    RETURN ISNULL(@SL, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_5_CoQuyenSuaCauHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_5_CoQuyenSuaCauHoi]
(
    @LOGINNAME NVARCHAR(50),
    @CAUHOI INT
)
RETURNS BIT
AS
BEGIN
    DECLARE
        @KQ BIT = 0,
        @ROLE NVARCHAR(20),
        @MAGV NCHAR(8);

    SELECT
        @ROLE = ROLE_NAME,
        @MAGV = MAGV
    FROM dbo.TaiKhoan
    WHERE LOGINNAME = @LOGINNAME
      AND IS_ACTIVE = 1;

    IF @ROLE = N'PGV'
        SET @KQ = 1;

    IF @ROLE = N'GIANGVIEN'
       AND EXISTS (
            SELECT 1
            FROM dbo.BoDe
            WHERE CAUHOI = @CAUHOI
              AND MAGV = @MAGV
       )
        SET @KQ = 1;

    RETURN @KQ;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_4_5_DemCauHoiTheoMonTrinhDo]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_4_5_DemCauHoiTheoMonTrinhDo]
(
    @MAMH NCHAR(5),
    @TRINHDO CHAR(1)
)
RETURNS INT
AS
BEGIN
    DECLARE @SL INT;

    SELECT @SL = COUNT(*)
    FROM dbo.BoDe
    WHERE MAMH = @MAMH
      AND TRINHDO = @TRINHDO;

    RETURN ISNULL(@SL, 0);
END;
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MAGV] [nchar](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[SODTLL] [nchar](15) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_AT] [datetime2](0) NULL,
	[DELETED_BY] [sysname] NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[LOGINNAME] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[MAGV] [nchar](8) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[LOGINNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_4_1_DangNhapGiaoVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   2. VIEW
   ========================================================= */

/* 4.1 - Dang nhap GV / PGV */
CREATE VIEW [dbo].[vw_4_1_DangNhapGiaoVien]
AS
SELECT
    TK.LOGINNAME,
    TK.MATKHAU,
    TK.ROLE_NAME,
    RTRIM(TK.MAGV) AS MAGV,
    LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN,
    TK.IS_ACTIVE
FROM dbo.TaiKhoan TK
LEFT JOIN dbo.GiaoVien GV ON TK.MAGV = GV.MAGV
WHERE TK.ROLE_NAME IN (N'GIANGVIEN', N'PGV');
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](40) NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_AT] [datetime2](0) NULL,
	[DELETED_BY] [sysname] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MALOP] [nchar](15) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_AT] [datetime2](0) NULL,
	[DELETED_BY] [sysname] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_4_1_DangNhapSinhVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.1 - Dang nhap sinh vien: lay tu bang SinhVien, KHONG lay TaiKhoan */
CREATE VIEW [dbo].[vw_4_1_DangNhapSinhVien]
AS
SELECT
    RTRIM(SV.MASV) AS MASV,
    LTRIM(RTRIM(ISNULL(SV.HO, N'') + N' ' + ISNULL(SV.TEN, N''))) AS HOTEN,
    RTRIM(SV.MALOP) AS MALOP,
    L.TENLOP,
    N'SINHVIEN' AS ROLE_NAME
FROM dbo.SinhVien SV
LEFT JOIN dbo.Lop L ON SV.MALOP = L.MALOP;
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MAMH] [nchar](5) NOT NULL,
	[TENMH] [nvarchar](40) NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_AT] [datetime2](0) NULL,
	[DELETED_BY] [sysname] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_4_2_MonHoc]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.2 */
CREATE VIEW [dbo].[vw_4_2_MonHoc]
AS
SELECT
    RTRIM(MAMH) AS MAMH,
    TENMH
FROM dbo.MonHoc;
GO
/****** Object:  View [dbo].[vw_4_3_Lop]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.3 - Lop */
CREATE VIEW [dbo].[vw_4_3_Lop]
AS
SELECT
    RTRIM(L.MALOP) AS MALOP,
    L.TENLOP,
    COUNT(SV.MASV) AS SO_SINH_VIEN
FROM dbo.Lop L
LEFT JOIN dbo.SinhVien SV ON L.MALOP = SV.MALOP
GROUP BY L.MALOP, L.TENLOP;
GO
/****** Object:  View [dbo].[vw_4_3_SinhVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.3 - Sinh vien */
CREATE VIEW [dbo].[vw_4_3_SinhVien]
AS
SELECT
    RTRIM(SV.MASV) AS MASV,
    SV.HO,
    SV.TEN,
    LTRIM(RTRIM(ISNULL(SV.HO, N'') + N' ' + ISNULL(SV.TEN, N''))) AS HOTEN,
    SV.NGAYSINH,
    SV.DIACHI,
    RTRIM(SV.MALOP) AS MALOP,
    L.TENLOP
FROM dbo.SinhVien SV
LEFT JOIN dbo.Lop L ON SV.MALOP = L.MALOP;
GO
/****** Object:  Table [dbo].[BoDe]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoDe](
	[MAMH] [nchar](5) NOT NULL,
	[CAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[TRINHDO] [char](1) NOT NULL,
	[NOIDUNG] [nvarchar](200) NULL,
	[A] [nvarchar](50) NULL,
	[B] [nvarchar](50) NULL,
	[C] [nvarchar](50) NULL,
	[D] [nvarchar](50) NULL,
	[DAP_AN] [nchar](1) NOT NULL,
	[MAGV] [nchar](8) NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_AT] [datetime2](0) NULL,
	[DELETED_BY] [sysname] NULL,
 CONSTRAINT [PK_BoDe] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_4_4_GiaoVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.4 */
CREATE VIEW [dbo].[vw_4_4_GiaoVien]
AS
SELECT
    RTRIM(GV.MAGV) AS MAGV,
    GV.HO,
    GV.TEN,
    LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN,
    GV.SODTLL,
    GV.DIACHI,
    COUNT(BD.CAUHOI) AS SO_CAU_DA_SOAN
FROM dbo.GiaoVien GV
LEFT JOIN dbo.BoDe BD ON GV.MAGV = BD.MAGV
GROUP BY GV.MAGV, GV.HO, GV.TEN, GV.SODTLL, GV.DIACHI;
GO
/****** Object:  View [dbo].[vw_4_5_BoDe]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4.5 */
CREATE VIEW [dbo].[vw_4_5_BoDe]
AS
SELECT
    BD.CAUHOI,
    RTRIM(BD.MAMH) AS MAMH,
    MH.TENMH,
    BD.TRINHDO,
    BD.NOIDUNG,
    BD.A,
    BD.B,
    BD.C,
    BD.D,
    BD.DAP_AN,
    RTRIM(BD.MAGV) AS MAGV,
    LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN_GV
FROM dbo.BoDe BD
JOIN dbo.MonHoc MH ON BD.MAMH = MH.MAMH
JOIN dbo.GiaoVien GV ON BD.MAGV = GV.MAGV;
GO
/****** Object:  Table [dbo].[BaiThi_ChiTiet]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiThi_ChiTiet](
	[MASV] [nchar](8) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[STT] [int] NOT NULL,
	[CAUHOI] [int] NOT NULL,
	[NOIDUNG] [nvarchar](200) NOT NULL,
	[A] [nvarchar](50) NOT NULL,
	[B] [nvarchar](50) NOT NULL,
	[C] [nvarchar](50) NOT NULL,
	[D] [nvarchar](50) NOT NULL,
	[DAP_AN_DUNG] [nchar](1) NOT NULL,
	[DAP_AN_SV] [nchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MASV] [nchar](10) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [date] NOT NULL,
	[DIEM] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien_DangKy]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien_DangKy](
	[MAGV] [nchar](8) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[MAMH] [nchar](5) NOT NULL,
	[TRINHDO] [nchar](1) NOT NULL,
	[NGAYTHI] [datetime] NOT NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NOT NULL,
	[THOIGIAN] [smallint] NOT NULL,
 CONSTRAINT [PK_GiaoVien_DangKy] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaiThi_ChiTiet] ([MASV], [MAMH], [LAN], [STT], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN_DUNG], [DAP_AN_SV]) VALUES (N'SV000001', N'CSDL ', 1, 1, 1, N'Câu hỏi CSDL trình độ A số 1?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'A')
INSERT [dbo].[BaiThi_ChiTiet] ([MASV], [MAMH], [LAN], [STT], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN_DUNG], [DAP_AN_SV]) VALUES (N'SV000001', N'CSDL ', 1, 2, 2, N'Câu hỏi CSDL trình độ A số 2?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'A')
INSERT [dbo].[BaiThi_ChiTiet] ([MASV], [MAMH], [LAN], [STT], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN_DUNG], [DAP_AN_SV]) VALUES (N'SV000001', N'CSDL ', 1, 3, 3, N'Câu hỏi CSDL trình độ A số 3?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'A')
GO
INSERT [dbo].[BangDiem] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM]) VALUES (N'SV000001  ', N'CSDL ', 1, CAST(N'2026-06-14' AS Date), 8)
INSERT [dbo].[BangDiem] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM]) VALUES (N'SV000002  ', N'CSDL ', 1, CAST(N'2026-06-14' AS Date), 7)
INSERT [dbo].[BangDiem] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM]) VALUES (N'SV000003  ', N'CTDL ', 1, CAST(N'2026-06-16' AS Date), 9)
GO
SET IDENTITY_INSERT [dbo].[BoDe] ON 

INSERT [dbo].[BoDe] ([MAMH], [CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'CSDL ', 1, N'A', N'Câu hỏi CSDL trình độ A số 1?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'GV000001', 0, NULL, NULL)
INSERT [dbo].[BoDe] ([MAMH], [CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'CSDL ', 2, N'A', N'Câu hỏi CSDL trình độ A số 2?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'GV000001', 0, NULL, NULL)
INSERT [dbo].[BoDe] ([MAMH], [CAUHOI], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'CSDL ', 3, N'A', N'Câu hỏi CSDL trình độ A số 3?', N'Đáp án đúng A', N'Đáp án sai B', N'Đáp án sai C', N'Đáp án sai D', N'A', N'GV000001', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BoDe] OFF
GO
INSERT [dbo].[GiaoVien] ([MAGV], [HO], [TEN], [SODTLL], [DIACHI], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'GV000001', N'Lê Văn', N'Cường', N'0900000001     ', N'TP.HCM', 0, NULL, NULL)
INSERT [dbo].[GiaoVien] ([MAGV], [HO], [TEN], [SODTLL], [DIACHI], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'GV000002', N'Phạm Thị', N'Dung', N'0900000002     ', N'Hà Nội', 0, NULL, NULL)
INSERT [dbo].[GiaoVien] ([MAGV], [HO], [TEN], [SODTLL], [DIACHI], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'GV000003', N'Nguyễn Văn', N'Minh', N'0900000003     ', N'Đà Nẵng', 0, NULL, NULL)
GO
INSERT [dbo].[GiaoVien_DangKy] ([MAGV], [MALOP], [MAMH], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'GV000001', N'D21CQCN01      ', N'CSDL ', N'A', CAST(N'2026-06-14T08:00:00.000' AS DateTime), 1, 10, 10)
INSERT [dbo].[GiaoVien_DangKy] ([MAGV], [MALOP], [MAMH], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'GV000001', N'D21CQCN01      ', N'CSDL ', N'B', CAST(N'2026-06-15T08:00:00.000' AS DateTime), 2, 10, 10)
INSERT [dbo].[GiaoVien_DangKy] ([MAGV], [MALOP], [MAMH], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'GV000002', N'D21CQCN02      ', N'CTDL ', N'A', CAST(N'2026-06-16T08:00:00.000' AS DateTime), 1, 10, 15)
GO
INSERT [dbo].[Lop] ([MALOP], [TENLOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'D21CQCN01      ', N'Công nghệ thông tin 1', 0, NULL, NULL)
INSERT [dbo].[Lop] ([MALOP], [TENLOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'D21CQCN02      ', N'Công nghệ thông tin 2', 0, NULL, NULL)
INSERT [dbo].[Lop] ([MALOP], [TENLOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'D21HTTT01      ', N'Hệ thống thông tin 1', 0, NULL, NULL)
GO
INSERT [dbo].[MonHoc] ([MAMH], [TENMH], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'CSDL ', N'Cơ sở dữ liệu', 0, NULL, NULL)
INSERT [dbo].[MonHoc] ([MAMH], [TENMH], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'CTDL ', N'Cấu trúc dữ liệu', 0, NULL, NULL)
INSERT [dbo].[MonHoc] ([MAMH], [TENMH], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'TTNT ', N'Trí tuệ nhân tạo', 0, NULL, NULL)
GO
INSERT [dbo].[SinhVien] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'SV000001  ', N'Nguyễn Văn', N'An', CAST(N'2004-01-01' AS Date), N'TP.HCM', N'D21CQCN01      ', 0, NULL, NULL)
INSERT [dbo].[SinhVien] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'SV000002  ', N'Trần Thị', N'Bình', CAST(N'2004-02-02' AS Date), N'Hà Nội', N'D21CQCN01      ', 0, NULL, NULL)
INSERT [dbo].[SinhVien] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [IS_DELETED], [DELETED_AT], [DELETED_BY]) VALUES (N'SV000003  ', N'Lê Quốc', N'Huy', CAST(N'2004-03-03' AS Date), N'Đà Nẵng', N'D21CQCN02      ', 0, NULL, NULL)
GO
INSERT [dbo].[TaiKhoan] ([LOGINNAME], [MATKHAU], [ROLE_NAME], [MAGV], [IS_ACTIVE], [CREATED_AT]) VALUES (N'gv1', N'123456', N'GIANGVIEN', N'GV000001', 1, CAST(N'2026-06-14T10:22:49.663' AS DateTime))
INSERT [dbo].[TaiKhoan] ([LOGINNAME], [MATKHAU], [ROLE_NAME], [MAGV], [IS_ACTIVE], [CREATED_AT]) VALUES (N'gv2', N'123456', N'GIANGVIEN', N'GV000002', 1, CAST(N'2026-06-14T10:22:49.663' AS DateTime))
INSERT [dbo].[TaiKhoan] ([LOGINNAME], [MATKHAU], [ROLE_NAME], [MAGV], [IS_ACTIVE], [CREATED_AT]) VALUES (N'pgv1', N'123456', N'PGV', N'GV000003', 1, CAST(N'2026-06-14T10:37:38.360' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BTCT_MASV_MAMH_LAN]    Script Date: 6/19/2026 5:41:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BTCT_MASV_MAMH_LAN] ON [dbo].[BaiThi_ChiTiet]
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BangDiem_MAMH_LAN]    Script Date: 6/19/2026 5:41:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BangDiem_MAMH_LAN] ON [dbo].[BangDiem]
(
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BoDe_MAMH_NOIDUNG]    Script Date: 6/19/2026 5:41:37 PM ******/
ALTER TABLE [dbo].[BoDe] ADD  CONSTRAINT [UQ_BoDe_MAMH_NOIDUNG] UNIQUE NONCLUSTERED 
(
	[MAMH] ASC,
	[NOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BoDe_MAMH_TRINHDO]    Script Date: 6/19/2026 5:41:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_BoDe_MAMH_TRINHDO] ON [dbo].[BoDe]
(
	[MAMH] ASC,
	[TRINHDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GVDK_MALOP_MAMH_LAN]    Script Date: 6/19/2026 5:41:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_GVDK_MALOP_MAMH_LAN] ON [dbo].[GiaoVien_DangKy]
(
	[MALOP] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lop_TENLOP]    Script Date: 6/19/2026 5:41:37 PM ******/
ALTER TABLE [dbo].[Lop] ADD  CONSTRAINT [UQ_Lop_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MonHoc_TENMH]    Script Date: 6/19/2026 5:41:37 PM ******/
ALTER TABLE [dbo].[MonHoc] ADD  CONSTRAINT [UQ_MonHoc_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SinhVien_MALOP]    Script Date: 6/19/2026 5:41:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_SinhVien_MALOP] ON [dbo].[SinhVien]
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangDiem] ADD  CONSTRAINT [DF_BangDiem_NGAYTHI]  DEFAULT (getdate()) FOR [NGAYTHI]
GO
ALTER TABLE [dbo].[BoDe] ADD  CONSTRAINT [DF_BoDe_IsDeleted]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[GiaoVien] ADD  CONSTRAINT [DF_GiaoVien_IsDeleted]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] ADD  CONSTRAINT [DF_GVDK_NGAYTHI]  DEFAULT (getdate()) FOR [NGAYTHI]
GO
ALTER TABLE [dbo].[Lop] ADD  CONSTRAINT [DF_Lop_IsDeleted]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[MonHoc] ADD  CONSTRAINT [DF_MonHoc_IsDeleted]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[SinhVien] ADD  CONSTRAINT [DF_SinhVien_IsDeleted]  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_CREATED_AT]  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BoDe]  WITH CHECK ADD  CONSTRAINT [FK_BoDe_GiaoVien] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GiaoVien] ([MAGV])
GO
ALTER TABLE [dbo].[BoDe] CHECK CONSTRAINT [FK_BoDe_GiaoVien]
GO
ALTER TABLE [dbo].[BoDe]  WITH CHECK ADD  CONSTRAINT [FK_BoDe_MonHoc] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MonHoc] ([MAMH])
GO
ALTER TABLE [dbo].[BoDe] CHECK CONSTRAINT [FK_BoDe_MonHoc]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [FK_GVDK_GiaoVien] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GiaoVien] ([MAGV])
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [FK_GVDK_GiaoVien]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [FK_GVDK_Lop] FOREIGN KEY([MALOP])
REFERENCES [dbo].[Lop] ([MALOP])
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [FK_GVDK_Lop]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [FK_GVDK_MonHoc] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MonHoc] ([MAMH])
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [FK_GVDK_MonHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MALOP])
REFERENCES [dbo].[Lop] ([MALOP])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_GiaoVien] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GiaoVien] ([MAGV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_GiaoVien]
GO
ALTER TABLE [dbo].[BaiThi_ChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_BTCT_DAP_AN_DUNG] CHECK  (([DAP_AN_DUNG]=N'D' OR [DAP_AN_DUNG]=N'C' OR [DAP_AN_DUNG]=N'B' OR [DAP_AN_DUNG]=N'A'))
GO
ALTER TABLE [dbo].[BaiThi_ChiTiet] CHECK CONSTRAINT [CK_BTCT_DAP_AN_DUNG]
GO
ALTER TABLE [dbo].[BaiThi_ChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_BTCT_DAP_AN_SV] CHECK  (([DAP_AN_SV] IS NULL OR ([DAP_AN_SV]=N'D' OR [DAP_AN_SV]=N'C' OR [DAP_AN_SV]=N'B' OR [DAP_AN_SV]=N'A')))
GO
ALTER TABLE [dbo].[BaiThi_ChiTiet] CHECK CONSTRAINT [CK_BTCT_DAP_AN_SV]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [CK_BangDiem_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [CK_BangDiem_DIEM]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [CK_BangDiem_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [CK_BangDiem_LAN]
GO
ALTER TABLE [dbo].[BoDe]  WITH CHECK ADD  CONSTRAINT [CK_BoDe_DAP_AN] CHECK  (([DAP_AN]=N'D' OR [DAP_AN]=N'C' OR [DAP_AN]=N'B' OR [DAP_AN]=N'A'))
GO
ALTER TABLE [dbo].[BoDe] CHECK CONSTRAINT [CK_BoDe_DAP_AN]
GO
ALTER TABLE [dbo].[BoDe]  WITH CHECK ADD  CONSTRAINT [CK_BoDe_TRINHDO] CHECK  (([TRINHDO]='C' OR [TRINHDO]='B' OR [TRINHDO]='A'))
GO
ALTER TABLE [dbo].[BoDe] CHECK CONSTRAINT [CK_BoDe_TRINHDO]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [CK_GVDK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [CK_GVDK_LAN]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [CK_GVDK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [CK_GVDK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [CK_GVDK_THOIGIAN] CHECK  (([THOIGIAN]>=(5) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [CK_GVDK_THOIGIAN]
GO
ALTER TABLE [dbo].[GiaoVien_DangKy]  WITH CHECK ADD  CONSTRAINT [CK_GVDK_TRINHDO] CHECK  (([TRINHDO]=N'C' OR [TRINHDO]=N'B' OR [TRINHDO]=N'A'))
GO
ALTER TABLE [dbo].[GiaoVien_DangKy] CHECK CONSTRAINT [CK_GVDK_TRINHDO]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [CK_Lop_MALOP_Upper] CHECK  ((([MALOP]) collate Latin1_General_BIN2=(upper([MALOP])) collate Latin1_General_BIN2))
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [CK_Lop_MALOP_Upper]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_MAMH_Upper] CHECK  ((([MAMH]) collate Latin1_General_BIN2=(upper([MAMH])) collate Latin1_General_BIN2))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_MAMH_Upper]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_MAGV] CHECK  ((([ROLE_NAME]=N'GIANGVIEN' OR [ROLE_NAME]=N'PGV') AND [MAGV] IS NOT NULL))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_MAGV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_ROLE] CHECK  (([ROLE_NAME]=N'GIANGVIEN' OR [ROLE_NAME]=N'PGV'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[sp_4_1_DangNhap]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   5. STORED PROCEDURE
   ========================================================= */

/* -------------------- 4.1 DANG NHAP -------------------- */
CREATE PROCEDURE [dbo].[sp_4_1_DangNhap]
    @VAITRO NVARCHAR(20),
    @LOGIN_OR_MASV NVARCHAR(50),
    @MATKHAU NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SET @VAITRO = UPPER(LTRIM(RTRIM(ISNULL(@VAITRO, N''))));
    SET @LOGIN_OR_MASV = UPPER(LTRIM(RTRIM(ISNULL(@LOGIN_OR_MASV, N''))));
    SET @MATKHAU = LTRIM(RTRIM(ISNULL(@MATKHAU, N'')));

    /* PGV / GIANGVIEN: kiem tra trong TaiKhoan */
    IF @VAITRO IN (N'PGV', N'GIANGVIEN')
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM dbo.vw_4_1_DangNhapGiaoVien
            WHERE UPPER(LOGINNAME) = @LOGIN_OR_MASV
              AND MATKHAU = @MATKHAU
              AND ROLE_NAME = @VAITRO
              AND IS_ACTIVE = 1
        )
        BEGIN
            SELECT
                CAST(1 AS BIT) AS SUCCESS,
                N'Đăng nhập thành công.' AS MESSAGE,
                LOGINNAME,
                ROLE_NAME,
                MAGV,
                HOTEN
            FROM dbo.vw_4_1_DangNhapGiaoVien
            WHERE UPPER(LOGINNAME) = @LOGIN_OR_MASV
              AND MATKHAU = @MATKHAU
              AND ROLE_NAME = @VAITRO
              AND IS_ACTIVE = 1;
            RETURN;
        END;

        SELECT
            CAST(0 AS BIT) AS SUCCESS,
            N'Login hoặc password không đúng với vai trò đã chọn.' AS MESSAGE;
        RETURN;
    END;

    /* SINHVIEN: KHONG dung TaiKhoan. MASV + password mac dinh 123456 */
    IF @VAITRO = N'SINHVIEN'
    BEGIN
        IF @MATKHAU <> N'123456'
        BEGIN
            SELECT
                CAST(0 AS BIT) AS SUCCESS,
                N'Mật khẩu sinh viên không đúng.' AS MESSAGE;
            RETURN;
        END;

        IF EXISTS (
            SELECT 1
            FROM dbo.vw_4_1_DangNhapSinhVien
            WHERE UPPER(MASV) = @LOGIN_OR_MASV
        )
        BEGIN
            SELECT
                CAST(1 AS BIT) AS SUCCESS,
                N'Đăng nhập thành công.' AS MESSAGE,
                N'SINHVIEN' AS ROLE_NAME,
                MASV,
                HOTEN,
                MALOP,
                TENLOP
            FROM dbo.vw_4_1_DangNhapSinhVien
            WHERE UPPER(MASV) = @LOGIN_OR_MASV;
            RETURN;
        END;

        SELECT
            CAST(0 AS BIT) AS SUCCESS,
            N'Mã sinh viên không tồn tại.' AS MESSAGE;
        RETURN;
    END;

    SELECT
        CAST(0 AS BIT) AS SUCCESS,
        N'Vai trò đăng nhập không hợp lệ.' AS MESSAGE;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_1_KiemTraQuyenTaoTaiKhoan]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_4_1_KiemTraQuyenTaoTaiKhoan]
    @LOGINNAME NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF dbo.fn_4_1_LaPGV(@LOGINNAME) = 1
    BEGIN
        SELECT
            CAST(1 AS BIT) AS CAN_CREATE_ACCOUNT,
            N'Tài khoản có quyền tạo tài khoản.' AS MESSAGE;
        RETURN;
    END;

    SELECT
        CAST(0 AS BIT) AS CAN_CREATE_ACCOUNT,
        N'Chỉ giảng viên có role PGV mới được tạo tài khoản.' AS MESSAGE;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_DanhSach]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_DanhSach]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MAMH, TENMH
    FROM dbo.MonHoc
    WHERE IS_DELETED = 0
    ORDER BY MAMH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_DaXoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_DaXoa]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MAMH, TENMH, DELETED_AT, DELETED_BY
    FROM dbo.MonHoc
    WHERE IS_DELETED = 1
    ORDER BY DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_PhucHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_PhucHoi]
    @MAMH NCHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAMH = UPPER(LTRIM(RTRIM(@MAMH)));

    UPDATE dbo.MonHoc
    SET IS_DELETED = 0,
        DELETED_AT = NULL,
        DELETED_BY = NULL
    WHERE MAMH = @MAMH AND IS_DELETED = 1;

    IF @@ROWCOUNT = 0
        THROW 50204, N'Khong tim thay mon hoc da xoa de phuc hoi.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_Sua]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_Sua]
    @MAMH NCHAR(5),
    @TENMH NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAMH = UPPER(LTRIM(RTRIM(@MAMH)));
    SET @TENMH = LTRIM(RTRIM(@TENMH));

    UPDATE dbo.MonHoc
    SET TENMH = @TENMH
    WHERE MAMH = @MAMH AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50202, N'Khong tim thay mon hoc dang hoat dong de sua.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_Them]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_Them]
    @MAMH NCHAR(5),
    @TENMH NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAMH = UPPER(LTRIM(RTRIM(@MAMH)));
    SET @TENMH = LTRIM(RTRIM(@TENMH));

    IF EXISTS (SELECT 1 FROM dbo.MonHoc WHERE MAMH = @MAMH OR TENMH = @TENMH)
        THROW 50201, N'Mon hoc da ton tai. Neu da xoa, hay dung Phuc hoi.', 1;

    INSERT INTO dbo.MonHoc (MAMH, TENMH) VALUES (@MAMH, @TENMH);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_Tim]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_Tim]
    @KEYWORD NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @KEYWORD = N'%' + LTRIM(RTRIM(ISNULL(@KEYWORD, N''))) + N'%';

    SELECT MAMH, TENMH
    FROM dbo.MonHoc
    WHERE IS_DELETED = 0
      AND (MAMH LIKE @KEYWORD OR TENMH LIKE @KEYWORD)
    ORDER BY MAMH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_2_MonHoc_Xoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_2_MonHoc_Xoa]
    @MAMH NCHAR(5)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAMH = UPPER(LTRIM(RTRIM(@MAMH)));

    UPDATE dbo.MonHoc
    SET IS_DELETED = 1,
        DELETED_AT = SYSDATETIME(),
        DELETED_BY = ORIGINAL_LOGIN()
    WHERE MAMH = @MAMH AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50203, N'Khong tim thay mon hoc dang hoat dong de xoa.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_DanhSach]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_DanhSach]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT L.MALOP, L.TENLOP,
           COUNT(CASE WHEN SV.IS_DELETED = 0 THEN 1 END) AS SO_SINH_VIEN
    FROM dbo.Lop AS L
    LEFT JOIN dbo.SinhVien AS SV ON SV.MALOP = L.MALOP
    WHERE L.IS_DELETED = 0
    GROUP BY L.MALOP, L.TENLOP
    ORDER BY L.MALOP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_DaXoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_DaXoa]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MALOP, TENLOP, DELETED_AT, DELETED_BY
    FROM dbo.Lop
    WHERE IS_DELETED = 1
    ORDER BY DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_PhucHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_PhucHoi]
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    UPDATE dbo.Lop
    SET IS_DELETED = 0,
        DELETED_AT = NULL,
        DELETED_BY = NULL
    WHERE MALOP = @MALOP AND IS_DELETED = 1;

    IF @@ROWCOUNT = 0
        THROW 50305, N'Khong tim thay lop da xoa de phuc hoi.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_Sua]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_Sua]
    @MALOP NCHAR(15),
    @TENLOP NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));
    SET @TENLOP = LTRIM(RTRIM(@TENLOP));

    UPDATE dbo.Lop
    SET TENLOP = @TENLOP
    WHERE MALOP = @MALOP AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50302, N'Khong tim thay lop dang hoat dong de sua.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_Them]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_Them]
    @MALOP NCHAR(15),
    @TENLOP NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));
    SET @TENLOP = LTRIM(RTRIM(@TENLOP));

    IF EXISTS (SELECT 1 FROM dbo.Lop WHERE MALOP = @MALOP OR TENLOP = @TENLOP)
        THROW 50301, N'Lop da ton tai. Neu da xoa, hay dung Phuc hoi.', 1;

    INSERT INTO dbo.Lop (MALOP, TENLOP) VALUES (@MALOP, @TENLOP);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_Tim]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_Tim]
    @KEYWORD NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @KEYWORD = N'%' + LTRIM(RTRIM(ISNULL(@KEYWORD, N''))) + N'%';

    SELECT L.MALOP, L.TENLOP,
           COUNT(CASE WHEN SV.IS_DELETED = 0 THEN 1 END) AS SO_SINH_VIEN
    FROM dbo.Lop AS L
    LEFT JOIN dbo.SinhVien AS SV ON SV.MALOP = L.MALOP
    WHERE L.IS_DELETED = 0
      AND (L.MALOP LIKE @KEYWORD OR L.TENLOP LIKE @KEYWORD)
    GROUP BY L.MALOP, L.TENLOP
    ORDER BY L.MALOP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_Lop_Xoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_Lop_Xoa]
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    IF EXISTS (SELECT 1 FROM dbo.SinhVien WHERE MALOP = @MALOP AND IS_DELETED = 0)
        THROW 50303, N'Lop con sinh vien dang hoat dong. Hay xoa sinh vien truoc.', 1;

    UPDATE dbo.Lop
    SET IS_DELETED = 1,
        DELETED_AT = SYSDATETIME(),
        DELETED_BY = ORIGINAL_LOGIN()
    WHERE MALOP = @MALOP AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50304, N'Khong tim thay lop dang hoat dong de xoa.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_DanhSachTheoLop]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_DanhSachTheoLop]
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    SELECT MASV, HO, TEN, LTRIM(RTRIM(ISNULL(HO, N'') + N' ' + ISNULL(TEN, N''))) AS HOTEN,
           NGAYSINH, DIACHI, MALOP
    FROM dbo.SinhVien
    WHERE MALOP = @MALOP AND IS_DELETED = 0
    ORDER BY TEN, HO, MASV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_DaXoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_DaXoa]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MASV, HO, TEN, LTRIM(RTRIM(ISNULL(HO, N'') + N' ' + ISNULL(TEN, N''))) AS HOTEN,
           NGAYSINH, DIACHI, MALOP, DELETED_AT, DELETED_BY
    FROM dbo.SinhVien
    WHERE IS_DELETED = 1
    ORDER BY DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_DaXoaTheoLop]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_DaXoaTheoLop]
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    SELECT MASV, HO, TEN, LTRIM(RTRIM(ISNULL(HO, N'') + N' ' + ISNULL(TEN, N''))) AS HOTEN,
           NGAYSINH, DIACHI, MALOP, DELETED_AT, DELETED_BY
    FROM dbo.SinhVien
    WHERE MALOP = @MALOP AND IS_DELETED = 1
    ORDER BY DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_PhucHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_PhucHoi]
    @MASV NCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MASV = UPPER(LTRIM(RTRIM(@MASV)));

    IF EXISTS (
        SELECT 1
        FROM dbo.SinhVien AS SV
        WHERE SV.MASV = @MASV
          AND SV.IS_DELETED = 1
          AND NOT EXISTS (SELECT 1 FROM dbo.Lop AS L WHERE L.MALOP = SV.MALOP AND L.IS_DELETED = 0)
    )
        THROW 50316, N'Lop cua sinh vien dang bi xoa. Hay phuc hoi lop truoc.', 1;

    UPDATE dbo.SinhVien
    SET IS_DELETED = 0,
        DELETED_AT = NULL,
        DELETED_BY = NULL
    WHERE MASV = @MASV AND IS_DELETED = 1;

    IF @@ROWCOUNT = 0
        THROW 50317, N'Khong tim thay sinh vien da xoa de phuc hoi.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_Sua]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_Sua]
    @MASV NCHAR(8),
    @HO NVARCHAR(40),
    @TEN NVARCHAR(10),
    @NGAYSINH DATE,
    @DIACHI NVARCHAR(100),
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MASV = UPPER(LTRIM(RTRIM(@MASV)));
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    IF NOT EXISTS (SELECT 1 FROM dbo.Lop WHERE MALOP = @MALOP AND IS_DELETED = 0)
        THROW 50313, N'Lop khong ton tai hoac da bi xoa.', 1;

    UPDATE dbo.SinhVien
    SET HO = LTRIM(RTRIM(@HO)),
        TEN = LTRIM(RTRIM(@TEN)),
        NGAYSINH = @NGAYSINH,
        DIACHI = @DIACHI,
        MALOP = @MALOP
    WHERE MASV = @MASV AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50314, N'Khong tim thay sinh vien dang hoat dong de sua.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_Them]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_Them]
    @MASV NCHAR(8),
    @HO NVARCHAR(40),
    @TEN NVARCHAR(10),
    @NGAYSINH DATE,
    @DIACHI NVARCHAR(100),
    @MALOP NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MASV = UPPER(LTRIM(RTRIM(@MASV)));
    SET @MALOP = UPPER(LTRIM(RTRIM(@MALOP)));

    IF EXISTS (SELECT 1 FROM dbo.SinhVien WHERE MASV = @MASV)
        THROW 50311, N'Sinh vien da ton tai. Neu da xoa, hay dung Phuc hoi.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.Lop WHERE MALOP = @MALOP AND IS_DELETED = 0)
        THROW 50312, N'Lop khong ton tai hoac da bi xoa.', 1;

    INSERT INTO dbo.SinhVien (MASV, HO, TEN, NGAYSINH, DIACHI, MALOP)
    VALUES (@MASV, LTRIM(RTRIM(@HO)), LTRIM(RTRIM(@TEN)), @NGAYSINH, @DIACHI, @MALOP);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_Tim]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_Tim]
    @KEYWORD NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @KEYWORD = N'%' + LTRIM(RTRIM(ISNULL(@KEYWORD, N''))) + N'%';

    SELECT MASV, HO, TEN, LTRIM(RTRIM(ISNULL(HO, N'') + N' ' + ISNULL(TEN, N''))) AS HOTEN,
           NGAYSINH, DIACHI, MALOP
    FROM dbo.SinhVien
    WHERE IS_DELETED = 0
      AND (MASV LIKE @KEYWORD OR HO LIKE @KEYWORD OR TEN LIKE @KEYWORD)
    ORDER BY TEN, HO, MASV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_3_SinhVien_Xoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_3_SinhVien_Xoa]
    @MASV NCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MASV = UPPER(LTRIM(RTRIM(@MASV)));

    UPDATE dbo.SinhVien
    SET IS_DELETED = 1,
        DELETED_AT = SYSDATETIME(),
        DELETED_BY = ORIGINAL_LOGIN()
    WHERE MASV = @MASV AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50315, N'Khong tim thay sinh vien dang hoat dong de xoa.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_DanhSach]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_DanhSach]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT GV.MAGV, GV.HO, GV.TEN,
           LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN,
           GV.SODTLL, GV.DIACHI,
           COUNT(CASE WHEN BD.IS_DELETED = 0 THEN 1 END) AS SO_CAU_DA_SOAN
    FROM dbo.GiaoVien AS GV
    LEFT JOIN dbo.BoDe AS BD ON BD.MAGV = GV.MAGV
    WHERE GV.IS_DELETED = 0
    GROUP BY GV.MAGV, GV.HO, GV.TEN, GV.SODTLL, GV.DIACHI
    ORDER BY GV.MAGV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_DaXoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_DaXoa]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MAGV, HO, TEN, LTRIM(RTRIM(ISNULL(HO, N'') + N' ' + ISNULL(TEN, N''))) AS HOTEN,
           SODTLL, DIACHI, DELETED_AT, DELETED_BY
    FROM dbo.GiaoVien
    WHERE IS_DELETED = 1
    ORDER BY DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_PhucHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_PhucHoi]
    @MAGV NCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAGV = UPPER(LTRIM(RTRIM(@MAGV)));

    UPDATE dbo.GiaoVien
    SET IS_DELETED = 0,
        DELETED_AT = NULL,
        DELETED_BY = NULL
    WHERE MAGV = @MAGV AND IS_DELETED = 1;

    IF @@ROWCOUNT = 0
        THROW 50405, N'Khong tim thay giao vien da xoa de phuc hoi.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_Sua]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_Sua]
    @MAGV NCHAR(8),
    @HO NVARCHAR(40),
    @TEN NVARCHAR(10),
    @SODTLL NCHAR(15),
    @DIACHI NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAGV = UPPER(LTRIM(RTRIM(@MAGV)));

    UPDATE dbo.GiaoVien
    SET HO = LTRIM(RTRIM(@HO)),
        TEN = LTRIM(RTRIM(@TEN)),
        SODTLL = @SODTLL,
        DIACHI = @DIACHI
    WHERE MAGV = @MAGV AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50402, N'Khong tim thay giao vien dang hoat dong de sua.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_Them]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_Them]
    @MAGV NCHAR(8),
    @HO NVARCHAR(40),
    @TEN NVARCHAR(10),
    @SODTLL NCHAR(15),
    @DIACHI NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAGV = UPPER(LTRIM(RTRIM(@MAGV)));

    IF EXISTS (SELECT 1 FROM dbo.GiaoVien WHERE MAGV = @MAGV)
        THROW 50401, N'Giao vien da ton tai. Neu da xoa, hay dung Phuc hoi.', 1;

    INSERT INTO dbo.GiaoVien (MAGV, HO, TEN, SODTLL, DIACHI)
    VALUES (@MAGV, LTRIM(RTRIM(@HO)), LTRIM(RTRIM(@TEN)), @SODTLL, @DIACHI);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_Tim]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_Tim]
    @KEYWORD NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @KEYWORD = N'%' + LTRIM(RTRIM(ISNULL(@KEYWORD, N''))) + N'%';

    SELECT GV.MAGV, GV.HO, GV.TEN,
           LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN,
           GV.SODTLL, GV.DIACHI,
           COUNT(CASE WHEN BD.IS_DELETED = 0 THEN 1 END) AS SO_CAU_DA_SOAN
    FROM dbo.GiaoVien AS GV
    LEFT JOIN dbo.BoDe AS BD ON BD.MAGV = GV.MAGV
    WHERE GV.IS_DELETED = 0
      AND (
          GV.MAGV LIKE @KEYWORD
          OR GV.HO LIKE @KEYWORD
          OR GV.TEN LIKE @KEYWORD
          OR GV.SODTLL LIKE @KEYWORD
      )
    GROUP BY GV.MAGV, GV.HO, GV.TEN, GV.SODTLL, GV.DIACHI
    ORDER BY GV.MAGV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_4_GiaoVien_Xoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_4_GiaoVien_Xoa]
    @MAGV NCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;
    SET @MAGV = UPPER(LTRIM(RTRIM(@MAGV)));

    IF EXISTS (SELECT 1 FROM dbo.BoDe WHERE MAGV = @MAGV AND IS_DELETED = 0)
        THROW 50403, N'Giao vien con cau hoi dang hoat dong. Hay xoa cau hoi truoc.', 1;

    UPDATE dbo.GiaoVien
    SET IS_DELETED = 1,
        DELETED_AT = SYSDATETIME(),
        DELETED_BY = ORIGINAL_LOGIN()
    WHERE MAGV = @MAGV AND IS_DELETED = 0;

    IF @@ROWCOUNT = 0
        THROW 50404, N'Khong tim thay giao vien dang hoat dong de xoa.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_DanhSach]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -------------------- 4.5 BO DE -------------------- */
CREATE PROCEDURE [dbo].[sp_4_5_BoDe_DanhSach]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.vw_4_5_BoDe ORDER BY CAUHOI;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_DanhSachCuaNguoiDung]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_DanhSachCuaNguoiDung]
    @LOGINNAME NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name AND GV.IS_DELETED = 0);

    SELECT BD.CAUHOI, BD.MAMH, BD.TRINHDO, BD.NOIDUNG, BD.A, BD.B, BD.C, BD.D,
           BD.DAP_AN, BD.MAGV,
           LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN_GV
    FROM dbo.BoDe AS BD
    LEFT JOIN dbo.GiaoVien AS GV ON GV.MAGV = BD.MAGV
    WHERE BD.IS_DELETED = 0
      AND (@MAGV IS NULL OR BD.MAGV = @MAGV)
    ORDER BY BD.CAUHOI DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_DaXoaCuaNguoiDung]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_DaXoaCuaNguoiDung]
    @LOGINNAME NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name);

    SELECT BD.CAUHOI, BD.MAMH, BD.TRINHDO, BD.NOIDUNG, BD.A, BD.B, BD.C, BD.D,
           BD.DAP_AN, BD.MAGV,
           LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN_GV,
           BD.DELETED_AT, BD.DELETED_BY
    FROM dbo.BoDe AS BD
    LEFT JOIN dbo.GiaoVien AS GV ON GV.MAGV = BD.MAGV
    WHERE BD.IS_DELETED = 1
      AND (@MAGV IS NULL OR BD.MAGV = @MAGV)
    ORDER BY BD.DELETED_AT DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_PhucHoi]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_PhucHoi]
    @LOGINNAME NVARCHAR(128),
    @CAUHOI INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name);

    IF EXISTS (
        SELECT 1
        FROM dbo.BoDe AS BD
        WHERE BD.CAUHOI = @CAUHOI
          AND BD.IS_DELETED = 1
          AND (
              NOT EXISTS (SELECT 1 FROM dbo.MonHoc AS MH WHERE MH.MAMH = BD.MAMH AND MH.IS_DELETED = 0)
              OR NOT EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = BD.MAGV AND GV.IS_DELETED = 0)
          )
    )
        THROW 50506, N'Mon hoc hoac giao vien cua cau hoi dang bi xoa. Hay phuc hoi du lieu lien quan truoc.', 1;

    UPDATE dbo.BoDe
    SET IS_DELETED = 0,
        DELETED_AT = NULL,
        DELETED_BY = NULL
    WHERE CAUHOI = @CAUHOI
      AND IS_DELETED = 1
      AND (@MAGV IS NULL OR MAGV = @MAGV);

    IF @@ROWCOUNT = 0
        THROW 50507, N'Khong tim thay cau hoi da xoa de phuc hoi hoac ban khong co quyen phuc hoi.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_Sua]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_Sua]
    @LOGINNAME NVARCHAR(128),
    @CAUHOI INT,
    @MAMH NCHAR(5),
    @TRINHDO NCHAR(1),
    @NOIDUNG NVARCHAR(200),
    @A NVARCHAR(50),
    @B NVARCHAR(50),
    @C NVARCHAR(50),
    @D NVARCHAR(50),
    @DAP_AN NCHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name AND GV.IS_DELETED = 0);

    IF NOT EXISTS (SELECT 1 FROM dbo.MonHoc WHERE MAMH = @MAMH AND IS_DELETED = 0)
        THROW 50503, N'Mon hoc khong ton tai hoac da bi xoa.', 1;

    UPDATE dbo.BoDe
    SET MAMH = UPPER(LTRIM(RTRIM(@MAMH))),
        TRINHDO = UPPER(LTRIM(RTRIM(@TRINHDO))),
        NOIDUNG = LTRIM(RTRIM(@NOIDUNG)),
        A = LTRIM(RTRIM(@A)),
        B = LTRIM(RTRIM(@B)),
        C = LTRIM(RTRIM(@C)),
        D = LTRIM(RTRIM(@D)),
        DAP_AN = UPPER(LTRIM(RTRIM(@DAP_AN)))
    WHERE CAUHOI = @CAUHOI
      AND IS_DELETED = 0
      AND (@MAGV IS NULL OR MAGV = @MAGV);

    IF @@ROWCOUNT = 0
        THROW 50504, N'Khong tim thay cau hoi dang hoat dong de sua hoac ban khong co quyen sua.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_Them]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_Them]
    @LOGINNAME NVARCHAR(128),
    @MAMH NCHAR(5),
    @TRINHDO NCHAR(1),
    @NOIDUNG NVARCHAR(200),
    @A NVARCHAR(50),
    @B NVARCHAR(50),
    @C NVARCHAR(50),
    @D NVARCHAR(50),
    @DAP_AN NCHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name AND GV.IS_DELETED = 0);

    IF @MAGV IS NULL
        THROW 50501, N'Khong xac dinh duoc giao vien tu login hien tai.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.MonHoc WHERE MAMH = @MAMH AND IS_DELETED = 0)
        THROW 50502, N'Mon hoc khong ton tai hoac da bi xoa.', 1;

    INSERT INTO dbo.BoDe (MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV)
    VALUES (UPPER(LTRIM(RTRIM(@MAMH))), UPPER(LTRIM(RTRIM(@TRINHDO))), LTRIM(RTRIM(@NOIDUNG)),
            LTRIM(RTRIM(@A)), LTRIM(RTRIM(@B)), LTRIM(RTRIM(@C)), LTRIM(RTRIM(@D)),
            UPPER(LTRIM(RTRIM(@DAP_AN))), @MAGV);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_Tim]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_Tim]
    @KEYWORD NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET @KEYWORD = N'%' + LTRIM(RTRIM(ISNULL(@KEYWORD, N''))) + N'%';

    SELECT BD.CAUHOI, BD.MAMH, BD.TRINHDO, BD.NOIDUNG, BD.A, BD.B, BD.C, BD.D,
           BD.DAP_AN, BD.MAGV,
           LTRIM(RTRIM(ISNULL(GV.HO, N'') + N' ' + ISNULL(GV.TEN, N''))) AS HOTEN_GV
    FROM dbo.BoDe AS BD
    LEFT JOIN dbo.GiaoVien AS GV ON GV.MAGV = BD.MAGV
    WHERE BD.IS_DELETED = 0
      AND (
          CONVERT(NVARCHAR(20), BD.CAUHOI) LIKE @KEYWORD
          OR BD.MAMH LIKE @KEYWORD
          OR BD.NOIDUNG LIKE @KEYWORD
          OR GV.HO LIKE @KEYWORD
          OR GV.TEN LIKE @KEYWORD
      )
    ORDER BY BD.CAUHOI DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_5_BoDe_Xoa]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_4_5_BoDe_Xoa]
    @LOGINNAME NVARCHAR(128),
    @CAUHOI INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAGV NCHAR(8);
    SELECT TOP 1 @MAGV = CONVERT(NCHAR(8), DP.name)
    FROM sys.database_principals AS DP
    WHERE DP.sid = SUSER_SID(@LOGINNAME)
      AND EXISTS (SELECT 1 FROM dbo.GiaoVien AS GV WHERE GV.MAGV = DP.name AND GV.IS_DELETED = 0);

    UPDATE dbo.BoDe
    SET IS_DELETED = 1,
        DELETED_AT = SYSDATETIME(),
        DELETED_BY = @LOGINNAME
    WHERE CAUHOI = @CAUHOI
      AND IS_DELETED = 0
      AND (@MAGV IS NULL OR MAGV = @MAGV);

    IF @@ROWCOUNT = 0
        THROW 50505, N'Khong tim thay cau hoi dang hoat dong de xoa hoac ban khong co quyen xoa.', 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_4_6_DoiMatKhauGiangVien]    Script Date: 6/19/2026 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
    Cap nhat theo cach soft delete:
    - Khong tao bang thung rac moi.
    - Them IS_DELETED, DELETED_AT, DELETED_BY vao cac bang goc.
    - Xoa = danh dau IS_DELETED = 1.
    - Phuc hoi = danh dau IS_DELETED = 0.

    Neu ban da tung chay script thung rac cu, script nay se co gang dua du lieu
    trong ThungRac_* ve bang goc o trang thai da xoa, sau do drop cac bang do.
*/

CREATE   PROCEDURE [dbo].[sp_4_6_DoiMatKhauGiangVien]
    @LOGINNAME NVARCHAR(128),
    @CURRENT_PASSWORD NVARCHAR(128),
    @NEW_PASSWORD NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    SET @LOGINNAME = LTRIM(RTRIM(ISNULL(@LOGINNAME, N'')));

    IF @LOGINNAME = N''
        THROW 50601, N'Loginname khong hop le.', 1;

    IF NULLIF(@CURRENT_PASSWORD, N'') IS NULL OR NULLIF(@NEW_PASSWORD, N'') IS NULL
        THROW 50602, N'Vui long nhap day du mat khau hien tai va mat khau moi.', 1;

    IF LEN(@NEW_PASSWORD) < 6 OR LEN(@NEW_PASSWORD) > 128
        THROW 50603, N'Mat khau moi phai tu 6 den 128 ky tu.', 1;

    IF @CURRENT_PASSWORD = @NEW_PASSWORD
        THROW 50604, N'Mat khau moi phai khac mat khau hien tai.', 1;

    IF NOT EXISTS (
        SELECT 1
        FROM sys.server_principals
        WHERE name = @LOGINNAME
          AND type = 'S'
          AND is_disabled = 0
    )
        THROW 50605, N'Khong tim thay SQL Login dang hoat dong tuong ung voi tai khoan nay.', 1;

    DECLARE @PasswordHash VARBINARY(MAX) =
        CONVERT(VARBINARY(MAX), LOGINPROPERTY(@LOGINNAME, 'PasswordHash'));

    IF @PasswordHash IS NULL OR PWDCOMPARE(@CURRENT_PASSWORD, @PasswordHash) <> 1
        THROW 50606, N'Mat khau hien tai khong dung.', 1;

    DECLARE @Sql NVARCHAR(MAX) =
        N'ALTER LOGIN ' + QUOTENAME(@LOGINNAME)
        + N' WITH PASSWORD = '''
        + REPLACE(@NEW_PASSWORD, '''', '''''')
        + N''', CHECK_POLICY = OFF;';

    EXEC sys.sp_executesql @Sql;
END;
GO
USE [master]
GO
